*{
    font-family: serif;
}
h1{
    color: #1d7bd3;
}
.container{
    margin:2rem auto;
    width: 400px; 
    height: 200px;
    background-color: #83e465;
    padding: 2rem;

}
a{
    padding: 9px 19px;
    background-color: #ffffff;
    border: 2px solid #1d7bd3;
    text-decoration: none; 
    color: #000000;
}